.backgroundHeaderStyle {
  background-color: #247ba0 !important;

  h6 {
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  button {
    background-color: transparent;
    box-shadow: none;
    margin-right: 1rem;

    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }
  $small: 790px;

  .wrapper-user-context {
    display: flex;
    align-items: flex-end;
  }

  @media screen and (max-width: $small) {
    .user-email {
      display: none;
    }
  }
}
