.backgroundHeaderStyle {
  background-color: #247ba0 !important;

  h6 {
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
  $small: 790px;

  .wrapper-user-context {
    display: flex;
    align-items: flex-end;
  }

  @media screen and (max-width: $small) {
    .user-email {
      display: none;
    }
  }
}

ul {
  li {
    a {
      text-decoration: unset;
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
}