$small: 790px;

.select-order {
  margin-bottom: 1rem;

  div {
    width: 100%;
  }
}

.close-filter-full-screen {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  button {
    background: #ffffff;
    border: 0.1rem solid;
    border-radius: 0.4rem;
  }
}

@media screen and (min-width: $small) {
  .close-filter-full-screen {
    button {
      display: none !important;
    }
  }
}
