.wrapper-search {
  margin: 2rem 4rem 2rem 4rem;
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;

  div {
    background: #3f51b5;
    padding: 5rem;
    border-radius: 1rem;
    color: #ffffff;
    font-size: 1.5rem;
  }
}

.wrapper-board {
  height: 70vh;
  display: flex;
  justify-content: center;
  margin: 0 4rem 1rem 4rem;

  .filter {
    width: 30%;
    height: 100%;
    background: #ffffff;
    margin-right: 1rem;
    -webkit-box-shadow: 1px 1px 3px 1px #ccc;
    -moz-box-shadow: 1px 1px 3px 1px #ccc;
    box-shadow: 1px 1px 3px 1px #ccc;
    padding: 1rem;
  }

  .board {
    width: 70%;
    background: #ffffff;

    .list {
      height: 90%;
      overflow-y: scroll;
    }

    .paginator {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 10%;
    }
  }
}
